.content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.user{
    width: 40%;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 30px 5% 0 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.userId{
    width: 100%;
    text-align: left;

}


.button{
    width: 120px;
    height: 25px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-bottom: 5px;
    text-align: center;
    line-height: 22px;

}

.button:hover{
    background: #c5ff93;

}

.userContent{
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


}

.block{
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}