.content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.user{


    background: #D4E0B4;
    width: 40%;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 30px 5% 0 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}


.userId{
    width: 100%;
    text-align: left;

}


.button{

    width: 120px;
    height: 25px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-bottom: 5px;
    text-align: center;
    line-height: 22px;


}

.button2{


    width: 90%;
    height: 35px;
    border: 1px solid black;
    box-sizing: border-box;


}

.buttonDetails{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    height: 25px;
    border: 1px solid black;
    box-sizing: border-box;


}



.button:hover, .button2:hover, .buttonDetails:hover{
    background: #D1F7BA;

}



.block{
    border: 1px solid black;
    box-sizing: border-box;
}


#block{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;



}

.divInformationOfUser{
    width: 100%;

}

.photoDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pointInformation {

    background: #D4E0B4;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.pointInformation > p{

margin-left: 5px;

}

.address, .company{
    text-align: center;
    background: #CADEE0;
}





.fullContent, .mainPostDetails{
    margin-top: 10px;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    height: auto;
}



.userContent{
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 600px;
    flex-wrap: wrap;

}


#address, #company, #geo{
    height: 33.3%;
    width: 25%;

}

.userContentDown{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.boxOfTitlePosts{

    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.titlePosts{
    width: 18%;
    margin-top: 15px;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: left;


    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.hTitle{
    margin: 0;
    border-bottom: 1px solid #d0d0d0;
    text-align: center;
}
.pTitle{

    background: #D4E0B4;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
}




#map {
    width: 100%;
    height: 100%;
}

.geo{
    display: none;
}

.divPost{
    border: 1px solid black;
    box-sizing: border-box;
}

.divIdInformation{
    border-bottom: 1px solid #dcdcdc;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
}

.postId, .userIdInPageAboutPost{
    margin-left: 10px;

}

.divPostInformation{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.postBody {
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;

}


.divComments{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}


.divComment{
    border: 1px solid black;
    box-sizing: border-box;
    width: 20%;
    margin: 2.5%;

}

.divMiddle{
   margin-top: 5px;
    margin-bottom: 10px;
}

.divBottom{
    margin-bottom: 5px;
}


.postCommentId{
    text-align: right;
    border-bottom: 1px solid #dcdcdc;
    box-sizing: border-box;
    margin-right: 5px;
}




